# compiled python3 scripts
py/__pycache__/*
py/resource/__pycache__/*

# illustrator and PS files
*.psd
*.ai

# don't include JS dependencies
web/packages/*

web/*/Thumbs.db

web/attachments/*

web/phpinfo.php

web/export_cache/*

# PyCharm
.idea/

#Pyenv
.python-version

# virtualenv
.venv/
