
body {
	background-image: unset;
}
.header-menu-item-group {
	width: 400px;
	display: flex;
	justify-content: center;
}
.header-menu-item-group:first-of-type {
	justify-content: flex-start;
}
.header-menu-item-group:last-of-type {
	justify-content: flex-end;
}
.header-menu-item-group .text-only-button {
	color: white;
}
.text-only-button > * {
	display: inline-flex;
	margin-left: 10px;
}

.header-menu-item-group .text-only-button .fa-chevron-down {
	transition: .3s transform ease-in-out;
}

/* query options dropdown*/
#show-query-options-container:not(.open) .fa-chevron-down {
  transform: rotate(90deg);
}
.nav-dropdown, .nav-dropdown-drawer {
	position: absolute;
	display: flex;
	width: 100%;
	height: 0;
	top: 60px;
	left: 0;
	right: 0;
	top: 60px;
	background-color: rgba(40, 40, 40, 0.95);
	z-index: 1;
	transition: 0.3s ease height;
	font-size: 14px;
	flex-wrap: wrap;
}
#show-query-options-container.open .nav-dropdown-drawer {
	height: calc(100vh - 60px);/*subtract 60px for header menu*/
	padding: 10px 10px 0 10px;
}
#query-options-drawer-body {
	width: 100%;
	height: calc(100% - 160px);
}
.tabs { 
	float: none;
	list-style: none;
	position: relative;
	text-align: left;
	display: none;
}
#show-query-options-container.open .tabs,
#export-field-options-body .tabs {
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
}
.query-options-tab-backdrop {
	position: relative;
	background: rgb(40, 40, 40);
	height: 100%;
	width: 100%;
}
.tabs > li {
	float: left;
	display: flex;
}
.tabs input[type="radio"].tab-button {
	position: absolute;
	top: 0;
	left: -9999px;
}

.tabs .tab-label {
	display: block;
	padding: 14px 21px;
	border-radius: 2px 2px 0 0;
	font-size: 18px;
	font-weight: normal;
	background: rgba(10, 10, 10, 0.95);
	cursor: pointer;
	position: relative;
	/*top: 4px; */
	transition: all 0.2s ease-in-out;
	margin-bottom: 0;
	height: 60px;
}
.tabs .tab-label.active {
	color: hsl(188deg 100% 50%);
}
.tabs .tab-label:hover {
	background:  rgba(30, 30, 30, 0.95);
}
.tabs .tab-content {
	z-index: 2;
	display: none; 
	overflow: auto;
	background: rgba(40, 40, 40);
	position: absolute;
	width: calc(100vw - 20px);
	left: -10px;
	padding-left: 20px;
	height: calc(100vh 
		- 60px /*header menu*/
		- 10px /*drawer padding*/
		- 60px /*tab labels*/
		- 160px /*drawer footer*/
	);
	margin-top: 60px;
	/*column-width: 300px;*/
}
.tabs input[type="radio"]:checked + .tab-label {
	background: rgba(40, 40, 40, 0.95);
}
.tabs input[type="radio"]:checked ~ .tab-content {
	display: flex;
	column-gap: 60px;
	row-gap: 15px;
	flex-wrap: wrap;
	align-content: flex-start;
}
.tab-field-list-container {
	display: flex;
	width: 100%;
	row-gap: 10px;
	margin-top: 15px;
	flex-wrap: wrap;
}
.tab-field-list-container .field-list-item {
	margin-right: 20px;
	color: white;
	display: flex;
	justify-content: flex-start;
	border-radius: 50px;
	padding: 5px 10px;
	transition: all 0.3s;
	border: solid rgba(255, 255, 255, 0) 1px;
}
.tab-field-list-container .field-list-item.hidden {
	display: none;
}
.tab-field-list-container .field-list-item > .add-field-query-option-button {
	opacity: 0;
	margin-right: 10px;
	transition: opacity 0.3s;
	font-weight: 700;
	color: white;
}
.tab-field-list-container .field-list-item:hover {
	/*background: rgba(255, 255, 255, 0.2);*/
	border: solid rgba(255, 255, 255) 1px;
}
.tab-field-list-container .field-list-item:hover > .add-field-query-option-button {
	opacity: 1;
}
/*select2 styling*/
#show-query-options-container .select2-container--default 
	.select2-selection--multiple,
.query-option-operator,
.query-option-input-field  {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: solid rgba(255, 255, 255, 0.3) 2px;
	border-radius: 0px;
	transition: all 0.2s;
}
#show-query-options-container .select2-container--default.select2-container--focus 
	.select2-selection--multiple,
.query-option-operator:focus,
.query-option-input-field:focus  { /*the select box*/
	border: none;
	border-bottom: solid rgba(255, 255, 255, 0.6) 2px;
}
#show-query-options-container .select2-container--default .select2-selection--multiple 
	.select2-selection__choice {/*the selected item pill*/
	background: none;
	border: solid rgb(40, 40, 40) 1.5px;
	border-radius: 2rem;
	transition: all .2s;
}
#show-query-options-container .select2-container--default .select2-selection--multiple 
	.select2-selection__choice:hover {
	/*border: solid white 1.5px;*/

}
#show-query-options-container .select2-container--default .select2-selection--multiple 
	.select2-selection__choice__remove {
	border: none;
	color: white;
	border-radius: 1.1em;
	top: 0.25em;
	width: 1.1rem;
	height: 1.1rem;
	transition: background 0.2s;
	
}
#show-query-options-container .select2-container--default .select2-selection--multiple 
.select2-selection__choice__remove:hover {
	background: rgba(255, 255, 255, 0.3);
}
#show-query-options-container .select2-container--default .select2-selection--multiple 
.select2-selection__choice__remove span { /*the x*/
	font-size: 1.5rem;
	position: relative;
	top: -.65rem;
	left: -.05rem;
}
.query-option-operator,
.query-option-input-field:not(.slider-container) {
	min-height: 32px;
}
.query-option-operator,
.query-option-input-field:not(.slider-container),
#show-query-options-container .select2-container--default .select2-search--inline 
	.select2-search__field {
	color: white;
}
.select2-container--open {
	z-index: 5000;
}
.select2-container > .select2-dropdown.bhims-query-select2-dropdown-container {
	background: rgb(0,0,0);
	color: white;
}
.select2-container--default .bhims-query-select2-dropdown-container .select2-results__option--selected {
	background: rgba(100,100,100,0.4);
}
.select2-container--default .bhims-query-select2-dropdown-container .select2-results__option--highlighted.select2-results__option--selectable {
	background: hsl(211 68% 52%);
}

.query-option-operator option {
	/*color: black*/;
	background: rgb(25, 25, 25);
}

.query-option-group-container {
	height: 100%;
	overflow: hidden;
	margin-left: 5px;
}
.query-option-group-container:hover {
	overflow-y: auto;
}
.query-option-container-title {
	font-size: 16px;
	font-weight: 500;
}
.query-option-group-container-body {
	padding: 0 5px 0 5px;
}
.query-option-container {
	padding-top: 20px;
}
.query-option-condition-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.icon-button.remove-query-option-button {
	opacity: 0;
	background: none;
	color: white;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 1.75rem;
	transition: all 0.3s;
}
.query-option-container:hover .icon-button.remove-query-option-button {
	opacity: 1;
	background: rgba(255, 255, 255, 0.3);
}
.query-option-label {
	font-size: 1rem;
	max-width: 80%;
}
.query-option-condition-container {
	width: 250px;
	display: flex;
}
.query-option-condition-container > select.query-option-input-field.select2-no-tag {
	width: 250px;
}
.query-option-condition-container.checkbox-option-group {

}
.query-option-operator + .query-option-input-field {
	text-indent: 5px;
	margin-left: 5px;
	flex: 1 1 100%;
}
.query-option-input-field.datetime-query-option {
	text-align: center;
}

/*slider stuff*/
.query-slider-label-container {
	display: flex;
	justify-content: space-between;
	color: white;
	position: relative;
}
.query-slider-label-container .query-slider-label {
	color: inherit;
	margin-top: 15px;
	font-size: 10px;
	text-align: center;
}
.query-slider-label-container input.slider-value {
	color: inherit;
	margin-top: 15px;
	font-size: 10px;
	min-width: 10px;
	text-align: left;
	border: none;
	background: none;
	transition: all 0.25s;
}
.query-slider-label-container input.slider-value:last-of-type {
	text-align: right;
}
.query-slider-label-container input.slider-value:focus {
	border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
	text-align: center;
}
.bhims-query-select2-dropdown-container {
	position:  relative;
	z-index: 9997;
}
/*jquery UI slider*/
#query-options-drawer .slider-container .ui-slider-handle {
	border: none;
	border-radius: 1.2em;
	background: hsl(211 68% 52%);
	margin-top: 1.5px;
}
#query-options-drawer .slider-container .ui-slider-range {
	/*the part of the slider inside the handles*/
	background: hsl(211deg 77% 69%);
}
#query-options-drawer .slider-container.ui-widget-content {
	/*the part of the slider outside the handles*/
	border:  none;
	background: rgb(82 81 81);
  /*margin: 0 0.6rem;*/
  width: 100%;
}
#query-options-drawer .slider-container .query-slider-label-container {

}
#query-options-drawer .slider-value-input-container {
	/*width: 100%;*/
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#query-options-drawer .datetime-query-option::-webkit-calendar-picker-indicator {
    filter: invert(1);/*set calendar/time picker icon white*/
}

#query-options-drawer-footer {
	width: 100%;
	height: 160px;
	padding: 10px;
	display: none;/*hide when dropdown is closed*/
	justify-content: center;
	align-items: center;
}
#show-query-options-container.open #query-options-drawer-footer {
	display: flex;
}
#query-options-drawer-footer-content {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	flex-wrap: wrap;
}
#query-options-drawer-footer-content > *:not(.run-query-button) {
	margin: 0 40px;
	width: 250px;
}
#query-result-count {
	font-size: 16px;
}
#query-result-count .query-result-count-text {
	font-weight: 600;
}


/* main layout */
.main-content-wrapper {
	display: flex;
	flex-direction: column;
	padding: 10px 15px 0 15px;
}
.main-content-body {
	display: flex;
	/*flex: 1 1 100%;*/
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
	min-height: 0;
}
.query-result-pane {
	padding: 0 1rem;
	max-height: 100%;
	flex: 1 1 100%;
}

#result-summary-pane {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	/*width: 33.333%;*/
}
.result-summary-container {
	width: 100%;
	height: 50%;
}
#query-result-list-container {
	display: flex;
	flex:  1 1 auto;
	overflow-y: auto;
}
#query-result-list {
	list-style: none;
	padding: 5px 10px 10px 0px;
	width: 100%;
}
#query-result-list > .query-result-list-item {
	padding: 0 15px;
	position: relative;
	height: 80px;
	/*line-height: 80px;*/
	width:  100%;
	margin-bottom: 2px;
	background-color: rgba(230, 230, 230);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 0;
	transition: 0.5s all;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#query-result-list > .query-result-list-item:not(.selected):hover {
	background-color: rgba(220, 220, 220);
}
#query-result-list > .query-result-list-item.selected {
	box-shadow: 1px 4px 5px 3px rgb(0 0 0 / 15%);
	z-index: 1;
	padding: 10px 15px;
	justify-content: space-between;
	cursor: unset;
	pointer-events: none;
}
#query-result-list > .query-result-list-item.selected, 
#query-result-list > .query-result-list-item.selected > label {
	color: #f73830;
}
.query-result-list-item > label {
	margin-bottom: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.query-result-list-item > label * {
	text-overflow: ellipsis;
}
.query-result-edit-button-container {
	display: none;
	width: 100%;
	justify-content: center;
}
.query-result-edit-button-container > .query-result-edit-button {
	margin: 0 10px;
	color: #00b2c5;
	transition: .3s all;
	pointer-events: all;
}
.query-result-edit-button-container > .query-result-edit-button:hover {
	color: #28c7d8;
}
#query-result-list > .query-result-list-item.selected .query-result-edit-button-container {
	display: flex;
}

#query-result-map-container {
  height: calc(50% - 10px) ;
  align-self: flex-end;
  padding-top: 15px;
}

/*________ map ___________*/
.map {
	min-height: 350px;
	flex: 1 1 auto;
	width: 100%;
}

#query-result-map-container .map {
	min-height:  100%;
}
/*^^^^^^^^^ map ^^^^^^^^^^^*/


/*_________export button footer_________*/
.data-export-footer {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
}
#data-export-modal.show {
	display: flex !important;
	justify-content: center;
}
#data-export-modal .close {
	color: #FFF;
	text-shadow: 0 1px 0 #000;
}
.modal-dialog.data-export-modal-dialog {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: unset;
	margin-left: unset;
	min-width: 1050px; /*min to prevent tabs from exceeding width of the modal*/
}
.modal-dialog.data-export-modal-dialog.expanded {
	max-width: 90%;
}
.modal-dialog.data-export-modal-dialog .modal-content {
	border-radius: 10px;
	background: rgba(50, 50, 50);
	color: white;
}
.export-option-container {
	width: 50%;
	display: inline-flex;
	padding-right: 20px;
}
.export-option-label {
	font-weight: 500;
}
.export-option-container .input-field {
	flex: 1 1 100%;
	color: rgb(230,230,230);
	border-bottom: 2px solid rgba(255,255,255,0.3);
}
.export-option-container .input-field:hover, 
.export-option-container .input-field:focus {
	border-bottom: 2px solid rgba(255,255,255,0.5) !important;
	color: white;
}
.export-option-container .input-field > option {
	background: black;
}
.export-option-container .input-field > option:hover {
	background-color: #0b3766;
}
.export-option-label,
.export-option-container .input-field {
	font-size: 18px;
}
.export-field-options-container {
	margin-top: 40px;
}

.export-field-collapse-container {
	width: 100%;
}
.export-tab-content {
	width: 100%;
}
#data-export-modal .tabs {
	position: static;
	display: flex;
}

.data-export-table-tab {
	background-color: rgb(0, 0, 0);
	transition: 0.25s all;
	padding: 5px;
}
.data-export-table-tab:hover {
	background: rgb(30,30,30);
}
.data-export-table-tab.selected {
	background-color: rgb(40, 40, 40);
	border-radius: 10px 10px 0 0;
	box-shadow: 3px -6px 6px 0px rgb(0 0 0 / 30%);
	position: relative;
	z-index: 10;
}
#data-export-modal .export-data-tab-button {
	border: none;
	background: none;
	padding: 0;
}
.export-tab-label {
	color: white;    
	text-overflow: ellipsis;
	transition: 0.25s all;
}
.data-export-table-tab.selected .export-tab-label {
	color: hsl(188deg 100% 50%);
}
.remove-table-tab-button,
.remove-export-field-button,
.include-export-table-button,
.include-export-field-button {
	opacity: 0;
	color: white;
	transition: 0.3s all;
}

.remove-table-tab-button {
	/*margin-right: 10px;*/
}

.export-field-options-container .data-export-table-tab:hover .remove-table-tab-button,
.export-field-options-container .data-export-table-tab.selected .remove-table-tab-button,
.export-field-options-container .field-list-item:hover .remove-export-field-button, 
.export-field-options-container .field-list-item:hover .include-export-field-button {
	opacity: 1;
}
#data-export-modal .tab-content {
	width: 100%;
	height: unset;
}
.export-tab-content {
	background-color: rgb(40, 40, 40);
}
#data-export-modal .tab-field-list-container {
	margin-top: 0;
	padding: 15px;
}
#data-export-modal .modal-footer {
	justify-content: center;
	margin-top: 20px;
}

/*^^^^^^^^ export button footer ^^^^^^^^*/


/*_________details pane___________*/
#row-details-pane {
	background-color: rgb(230, 230, 230);
	overflow-y: auto;
	padding-top: 1rem;
	padding-right: 0;
	/*width: 66.66667%;*/
}

.form-section.card {
	background-color: transparent;
	border: none;
	padding: 6px;
}
.card-header.row-details-card-header {
	height: 70px;
	box-shadow: none;
	background: none;
}
.card-body.row-details-card-body {
	background: none;
}
.card-link.row-details-card-link {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.card-link-content.row-details-card-link-content {
	height: 100%;
	line-height: 100%;
	/*display: inline-flex;*/
}

.card-link-content.row-details-card-link-content > * {
	height: 100%;
	line-height: 45px;
	display: inline-flex;
}

.card-link-label.row-details-card-link-label {
/*.card-link-content.row-details-card-card-link-content .fa,
.card-link-content.row-details-card-card-link-content .fas {
*/	
	color: black;
	font-weight: 200;
}
.card-link-chevron {
	width: 12px;
	height: 12px;
	border: solid black;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	vertical-align: center;
	transition: .3s transform ease-in-out;
	margin: 25px 15px;
}
.card-link.collapsed .card-link-chevron {
	transform: rotate(135deg);
}

/******** Style inputs for toggling editablity ****************/
#row-details-pane .input-field,
#row-details-pane .field-label {
	transition: .3s all;
}
#row-details-pane .input-field.uneditable,
#row-details-pane .field-container.uneditable .null-input-indicator,
#row-details-pane .uneditable-units-text {
	border-bottom: solid 2px rgba(0, 0, 0, 0);
	text-indent: 0;
	margin-bottom: .75rem;
	appearance: none;
	pointer-events: none;
	cursor: default;
	text-align: left !important;/*necessary to override bootstrap .text-right*/
	font-style: italic;
}
/*make sure $ does not overlap input for money fields*/
#row-details-pane .input-field.money-field.uneditable .unit-symbol-left{
	margin-left: 5px;
	width: calc(100% - 35px);
}
#row-details-pane .field-container.uneditable {
	margin-left: 0;
}
/*make sure narrative field extends 100% of width*/
#row-details-pane textarea.input-field.uneditable {
	width: 100%;
	background-color: rgba(0,0,0,0);
}
/*override disabled color styling for selects*/
#row-details-pane select.input-field.uneditable:disabled {
	color: black;
}
/*place field labels above fields and set them to bold*/
#row-details-pane .input-field.uneditable ~ .field-label,
#row-details-pane .field-container.uneditable .field-label {
	order: -2;
	font-size: 15px;
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 0;
	padding-left: 0;
	transform: unset;
}
/* hide all required indicators*/
#row-details-pane .field-container.uneditable .required-indicator {
	display: none;
}
/*hide any fields that are blank and show as <null>*/
#row-details-pane .input-field.uneditable:placeholder-shown,
#row-details-pane select.input-field.uneditable.default,
#row-details-pane .input-field.uneditable:placeholder-shown ~ .unit-symbol,
#row-details-pane .field-container.uneditable .flex-field-container ~ .units-field-container {
	display: none;
}
/* styling for any elements that are shown only when editing is disabled*/
.null-input-indicator,
.uneditable-units-text {
	display: none;
	font-style: italic;
	font-size: 14px;
	line-height: 30px;
}
#row-details-pane .field-container.uneditable .flex-field-container {
	max-width: 100%;
}
#row-details-pane .input-field.uneditable:placeholder-shown ~ .null-input-indicator,
#row-details-pane select.input-field.uneditable.default ~ .null-input-indicator,
#row-details-pane .field-container.uneditable .uneditable-units-text {
	display: block;
}
#row-details-pane .input-field.uneditable:placeholder-shown ~ .field-label,
#row-details-pane select.input-field.uneditable.default ~ .field-label  {
	/*padding-left: .5rem;*/
	visibility: visible;
	color: black;
	/*padding-top: .75rem;*/
}
/* handle units fields that should be right-justified*/
#row-details-pane .input-with-unit-symbol.text-right.uneditable,
#row-details-pane .input-field.text-right-when-valid.uneditable {
	margin-right: 0;
	flex: 0 1 auto;
}
#row-details-pane .field-container.uneditable .unit-symbol,
#row-details-pane .field-container.uneditable .uneditable-units-text {
	max-width: 100%;
	flex: 1 1 auto;
}
/*^^^^^^^^^^ details pane ^^^^^^^^*/

/********** override styles from other bhims style sheets **********/
.form-section {
	height: unset;
}

textarea.narrative-field {
	border-bottom: 0px;
}
.recorded-text-container {
	padding-bottom: 0px;
}

#alert-modal {
  background: rgba(0,0,0,0.5);
  z-index: 10000;
}
